

*{
    border: 1px solid green;
}

.projects{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
}

img{
    width: 100%;
}
img:hover{
    cursor: pointer;
}